.history{
    background: #0f0f0f;
    width: 100%;
    height: calc(100vh - 60px);
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    overflow-y: auto;
    gap: 10px;
}

@media(max-width: 969px){
    .history{
        grid-template-columns: repeat(2, 1fr);
    }
}
@media(max-width: 709px){
    .history{
        grid-template-columns: repeat(1, 1fr);
    }
}