.video {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 10px;
}

.thumbnail {
    position: relative;
    width: 100%;
    border-radius: 5px;
    overflow: hidden;
}

.thumbnail img {
    width: 100%;
    height: 100%;
}

.thumbnail:hover {
    border-radius: 0;
}

.thumbnail:hover img {
    transform: scale(1.01);
}

.duration {
    position: absolute;
    border-radius: 5px;
    bottom: 10px;
    padding: 2px 10px;
    font-size: 14px;
    right: 5px;
    background: rgba(15, 15, 15, .8);
    color: #fff;
}

.info {
    display: flex;
    padding: 10px;
    gap: 10px;
}

.info .image {
    width: 40px;
    height: 40px;
}

.info .image img {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 999px;
}

.info .title {
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.channel-name{
    color: gray;
    font-weight: 500;
    font-size: 14px;
}

.desc{
    display: flex;
    align-items: center;
    color: gray;
    font-weight: 500;
    font-size: 14px;
    gap: 5px;
}

.desc .dot{
    width: 3px;
    height: 3px;
    background: gray;
    border-radius: 999px;
}

.channel-name, .views, .date{
    cursor: pointer;
}
.channel-name:hover{
    color: #fff;
}