.sidebar{
    z-index: 99;
    position: sticky;
    top: 60px;
    left: 0;
    background: #0f0f0f;
    width: 300px;
    height: calc(100vh - 60px);
    color: #fff;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 10px;

}
.sidebar#close{
    width: 70px;
}
.sidebar#close span{
    display: none;
}
.sidebar#close .subscribes{
    display: none;
}
.sidebar#close a{
    padding: 10px 15px;
}

.sidebar::-webkit-scrollbar{
    width: 8px;
}
.sidebar::-webkit-scrollbar-thumb{
    background: rgba(255, 255, 255, .5);
    border-radius: 50px;
    display: none;
}
.sidebar:hover::-webkit-scrollbar-thumb{
    display: block;
}

.sidebar#close ul li a{
    padding: 10px;
}

ul{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

ul li a{
    color: #fff;
    font-size: 17px;
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 10px 20px;
    border-radius: 7px;
    white-space: nowrap;
}

ul li a:hover{
    background: rgba(255, 255, 255, .2);
}

ul li a.active{
    background: rgba(255, 255, 255, .2);
}

svg{
    font-size: 24px;
}

.line{
    width: 100%;
    height: 1px;
    background: rgba(255, 255, 255, .2);
    margin: 20px 0;
}

.subscribe{
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;
}
h4{
    padding: 20px 15px;
}
/* .channel{
    display: flex;
}
.channel:hover{
    background: rgba(255, 255, 255, .2);
} */

@media(max-width: 600px){
    .sidebar{
        position: fixed;
        bottom: 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        height: 50px;
        top: auto;
    }
    ul{
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .menu-first{
        width: 75%;
    }
    .menu-second{
        width: 25%;
        justify-content: flex-end;
    }
    .subscribes{
        display: none;
    }
    .line{
        display: none;
    }

    ul span{
        display: none;
    }

    .menu-second li:not(:nth-child(2)){
        display: none;
    }
    ul li a.active{
        background: transparent;
    }
}