@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    transition: all .5s ease;
}

*::-webkit-scrollbar{
    width: 8px;
}
*::-webkit-scrollbar-thumb{
    background: rgba(255, 255, 255, .5);
    border-radius: 50px;
    display: none;
}

body{
    background: #0f0f0f;
}

input,
button {
    border: none;
    outline: none;
}

button {
    cursor: pointer;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.App{
    background: #0f0f0f;
    color: #fff;
}

.content{
    display: flex;
}

